/bin/
/target/
/plugins/
/sonar/
/.settings/
/.idea/
/.vscode/
/data-storage/
/javadocs/
/local-deps/

.classpath
.factorypath
.project
*.iml
*.bak
.DS_Store

dependency-reduced-pom.xml
/.git-versioned-pom.xml

*.db